
    <div class="container">   
        
        <nav class="main-nav">
            <h1>MHD.com</h1>
            <nav class="dashboard-nav">
                <div class="list">
                <p>موقع محد اكزام</p>
                <p>الموقع الأول لتحضير الفروض والاختبارات في الجزائر</p>
                </div>
              <ul>
                <li><a routerLink="">التعليم الإبتدائي</a></li>
                <li><a routerLink="">التعليم المتوسط</a></li>
                <li><a routerLink="">التعليم الثانوي</a></li>
                <li><a routerLink="">منوعات</a></li>
              </ul>
            </nav>
        </nav>

    </div>
    <header>
        <div class="dashboard-container">
          <ul>  
                <li><a routerLink="/faqs" >أسئلة وأجوبة</a></li>
                <li><a routerLink="/privacy-policy">سياسة الخصوصية</a></li>
                <li><a routerLink="/advices" >نصائح و توجيهات</a></li>
                <li><a routerLink="/news" >أخبار الدراسة</a></li>
            </ul>
        </div>
    </header>
